@import "tailwindcss";

@layer base {
    body {
        @apply bg-slate-900 px-4 py-8 text-slate-100;
    }

    h1 {
        @apply text-3xl font-bold my-3 text-amber-400;
    }

    .mi-tabla thead tr {
        @apply hidden md:table-row;
    }
    .mi-tabla header tr th {
        @apply px-2 text-amber-500 dark:text-amber-200;
    }
    .mi-tabla tbody tr {
        @apply py-3 md:py-0;
    }
    .mi-tabla tbody tr {
        @apply flex flex-col items-center gap-2 md:table-row rounded-2xl md:rounded-none;
    }
    .mi-tabla tbody tr td {
        @apply px-2 text-amber-500 dark:text-amber-200 leading-3;
    }
    .mi-tabla tbody tr td img {
        @apply rounded-2xl h-16 w-16 md:h-20 md:w-20 m-2;
    }

    
    .btn-primary {
        @apply bg-violet-700 hover:bg-violet-600 text-white font-bold py-2 px-4 rounded-4xl cursor-pointer;
    }
    /* .btn-primary {
        background-color: var(--color-violet-500);
        color: var(--color-white);
        border-radius: var(--radius-2xl);
    } */
}